@import 'normalize.css';

:root {
    --primary: rgba(254, 44, 85, 1);
    --border-radius: 23px;
    --white: white;
    --default-horizontal-padding: 24px;
}
//@at-root fonts  embeded
@font-face {
    font-family: proximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: proximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: proximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button,
select,
input {
    outline: none;
    border: none;
    background-color: #fff;
}
a[href] {
    text-decoration: none;
    color: rgb(22, 24, 35);
    transition: color 250ms ease 0s;
}
body {
    font-family: 'proximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
